{% load staticfiles %}
<html>
<html>
  <head>
    <title>Travel planner</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

  </head>
  <body>
    <div class="container">
      <header>
        <a href="{% url 'home' %}">Home</a> 
        <div class="nav-right">
          <a href="{% url 'travel_new' %}">+ New travel plan</a>
        </div>
      </header>
          
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>

  